:root {
	--primary: #f3f2fc;
	--ghostbg: #2a003f;
	--body: #ffeaeb;
	--shade: #ffc3c3b3;
	--dark: #340000;
	--heart: #ff0000;
}

html,
body {
    background-color: #ace7ff;
    font-size: 62.5%;
    line-height: 3rem;
    margin: 0;
    display: flex;
    cursor: default;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
}
.container {
	width: 750px;
	height: 750px;
	border-radius: 90%;


	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main {

}

h1,
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    width: 100%;
    z-index: 10;
}

h1 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    top: 14%;
}

h2 {
    bottom: 1vh;
    font-size: 10px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.35);
}

h1 span {
    font-size: 50px;
    line-height: 1em;
    z-index: 100;
    text-shadow: 0.04em 0.04em 0 #fcfade;
    display: block;
}

h1 span,
h1 span:after {
    font-weight: 600;
    color: #e17171;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: 0.16em;
}

h1 span:after {
    color: rgba(0, 0, 0, 0.25);
    text-shadow: none;
    position: absolute;
    left: 0.08em;
    top: 0.08em;
    z-index: -1;
}

span.one:after {
    content: "Will you";
}

span.two:after {
    content: "bee my";
}

span.three:after {
    content: "valentine?";
}





.shadow {
    height: 45px;
    width: 170px;
    border-radius: 50%;
    background-color: #88badd;
    -webkit-animation: shadow 2s ease-in-out infinite;
    animation: shadow 2s ease-in-out infinite;
}


@-webkit-keyframes shadow {

    0%,
    100% {
        width: 170px;
    }

    50% {
        width: 180px;
    }
}

@keyframes shadow {

    0%,
    100% {
        width: 170px;
    }

    50% {
        width: 180px;
    }
}

#falling-hearts {
    animation: wobble 60s ease-in infinite;
    position: fixed;
    inset: 0 0 0 0;
    pointer-events: none;
}

.heart {
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
    position: fixed;
}






.cat-face {
	width: 400px;
	height: 300px;
	position: relative;

	background-color: var(--body);
	border-radius: 200px 200px 100px 100px;
}

.ears {
	display: flex;
	justify-content: space-around;
	position: relative;
}

.ear {
	width: 100px;
	height: 200px;

	background-color: var(--body);
	position: absolute;
	top: -30px;
}

.ear1 {
	right: 55px;
	border-radius: 200px 300px 0 0;
	transform: rotate(45deg);
}

.ear2 {
	left: 55px;
	border-radius: 300px 200px 0 0;
	transform: rotate(-45deg);
}

.ear:before {
	content: "";
	background-color: var(--shade);

	width: 25px;
	height: 25px;
	position: absolute;

	border-radius: 100px;
	box-shadow: 0px 0px 75px var(--shade);
}

.ear1:before {
	right: 40px;
	top: 40px;
}

.ear2:before {
	left: 40px;
	top: 40px;
}

.eyes,
.blushes {
	display: flex;
	justify-content: space-around;
}

.eye {
	width: 75px;
	height: 75px;
	background-color: var(--dark);

	position: relative;
	top: 100px;

	border-radius: 100px;
}

.eye:before {
	content: "";
	position: absolute;

	height: 35px;
	width: 35px;

	background-color: var(--primary);

	border-radius: 100px;
}

.eye:after {
	content: "";
	position: absolute;

	height: 15px;
	width: 15px;

	background-color: var(--primary);

	border-radius: 100px;
}

.eye1:before {
	top: 10px;
	right: 15px;
}
.eye1:after {
	bottom: 15px;
	left: 25px;
}

.eye2:before {
	top: 10px;
	left: 15px;
}
.eye2:after {
	bottom: 15px;
	right: 25px;
}

.nose {
	width: 25px;
	height: 15px;

	background-color: var(--dark);
	position: absolute;
	top: 150px;
	left: 190px;

	border-radius: 80px 80px 150px 150px;
}

.lips {
	display: flex;
	justify-content: center;
	position: relative;
	top: 120px;
}

.lip {
	width: 35px;
	height: 15px;

	border: 5px solid var(--dark);
	border-top: none;
	border-radius: 0 0 150px 150px;
}

.lip1 {
	transform: translateX(6px) rotate(-20deg);
}
.lip2 {
	transform: translateX(-6px) rotate(20deg);
}

.blush {
	width: 35px;
	height: 35px;
	background-color: var(--shade);

	position: relative;
	top: 100px;

	border-radius: 100px;
}

.blush1 {
	right: 50px;
}
.blush2 {
	left: 50px;
}

.mustache {
	width: 50px;
	height: 5px;
	margin: 5px;
	position: absolute;

	border-radius: 50px;

	background-color: var(--dark);
	border: 1px solid var(--body);
}

/* right mustache */
.mustache1 {
	bottom: 80px;
	right: -30px;
	transform: rotate(5deg);
}

.mustache2 {
	bottom: 50px;
	right: -30px;
	transform: rotate(15deg);
}

.mustache3 {
	bottom: 25px;
	right: -10px;
	transform: rotate(45deg);
}
/* right mustache */

/* left mustache */
.mustache4 {
	bottom: 80px;
	left: -30px;
	transform: rotate(5deg);
}

.mustache5 {
	bottom: 50px;
	left: -30px;
	transform: rotate(-15deg);
}

.mustache6 {
	bottom: 25px;
	left: -10px;
	transform: rotate(-45deg);
}
/* left mustache */

.cat-body {
	width: 300px;
	height: 200px;

	background-color: var(--body);
	margin-top: -30px;

	border-radius: 200px 200px 150px 150px;
}

.hands,
.legs {
	display: flex;
	justify-content: space-around;
}

.hand {
	width: 50px;
	height: 50px;

	position: relative;
	top: 70px;

	border: 5px solid var(--dark);
	border-top: none;
	border-radius: 0 0 150px 150px;
}

.right-hand {
	transform: rotate(35deg);
}
.left-hand {
	transform: rotate(-35deg);
}

.hand-plam {
	background-color: var(--dark);
	width: 100%;
	height: 25px;

	position: absolute;
	bottom: -2px;

	border-radius: 0 0 150px 150px;
}

.leg {
	width: 80px;
	height: 80px;

	position: relative;
	margin-top: -20px;

	background-color: var(--body);
	border-top: none;
	border-radius: 0 0 150px 150px;
}

.left-leg {
	margin-right: 20px;
}
.right-leg {
	margin-left: 20px;
}